<main class="main">

  <div class="content">
    <div class="container my-5" style="border: 2px solid black;padding: 10px;">
      <div class="row" style="text-align: center;">
        <h4>Blog Management</h4>
      </div>

      <div class="card shadow-lg p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <!-- New button to create new blog -->
          <button type="button" class="btn btn-primary" (click)="onNewButtonClicked()">+ New </button>
        </div>

        <div class="blog-container">
          <!-- List of Blogs -->
          <app-dispaly-blogs [blogs]="blogList" (editBlog)="editBlog($event)" (deleteBlog)="deleteBlog($event)" />
        </div>

        <!-- Add Update Blog Modal -->
        <app-add-update [blog]="selectedBlog" [edit]="editMode" (blogSaved)="addOrUpdateBlog()"></app-add-update>

        <!-- Delete Confirmation Modal -->
        <app-delete-blog [blog]="blogToDelete" [showModal]="showDeleteModal" (confirmDelete)="afterdeleteBlog()"
          (cancelDelete)="closeDeleteModal()">
        </app-delete-blog>

      </div>
    </div>


  </div>



</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />